@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #131313;
}

::-webkit-scrollbar-thumb {
  background-color: #a2a1ab;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

.bounce-delay-1 {
  animation: bounce 0.6s infinite;
}

.bounce-delay-2 {
  animation: bounce 0.6s infinite 0.2s;
}

.bounce-delay-3 {
  animation: bounce 0.6s infinite 0.4s;
}
